:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --main-background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --white-color: #ffffff;
  --banner-background-color: #2f303a;
  --black-color: #000000;
  --background-icon-color: #afb1b8;
}

/* RESET */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* UTILITES */

.image-svg {
  display: block;
}

/*  COMMON STYLES */

body {
  max-width: 1600px;
  margin: 0 auto;

  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  color: var(--secondary-text-color);
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
}

.head.container {
  display: flex;
  align-items: center;
}

/* LOGO */

.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo .studio {
  color: var(--black-color);
}

/*  MAIN NAVIGATION */

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .list {
  display: flex;
}

.main-nav .item + .item {
  margin-left: 50px;
}

.main-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.main-nav .link:hover,
.main-nav .link:focus,
.current.link {
  color: var(--accent-color);
}

/* CONTACTS */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: currentColor;
}

.contacts-icon {
  margin-right: 10px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* HERO */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: var(--banner-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/banner.jpg);
}

.hero .title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  padding: 8px 30px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: transparent;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* VALUES */

.value-list {
  display: flex;
}

.value-list .item:not(:last-child) {
  margin-right: 30px;
}

.section.value {
  padding-bottom: 0;
}

.value-list .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.value-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.value-icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-background-color);
}

.value-icon {
  display: block;
}
/* LABOURS */

.labour-list {
  display: flex;
}

.labour-list .item.item:not(:last-child) {
  margin-right: 30px;
}

/* TEAM */

.team.section {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .title {
  padding-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .text {
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list > .item {
  border-radius: 0px 0px 4px 4px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-network-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-network-item:not(:last-child) {
  margin-right: 10px;
}

.team-network-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--background-icon-color);
}

.team-network-link:hover,
.team-network-link:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

/* CLIENTS */

.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: var(--background-icon-color);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/*  FOOTER */

.foot {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--banner-background-color);
}

.foot .studio {
  color: var(--white-color);
}

.foot .logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.adress .item.item:not(:last-child) {
  margin-bottom: 9px;
}

.adress .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.street-adress .link {
  color: var(--white-color);
}

.mail-adress .link,
.phone-adress .link {
  color: rgba(255, 255, 255, 0.6);
}

.adress .link:hover,
.adress .link:focus {
  color: var(--accent-color);
}

.foot-flex-container {
  display: flex;
}

.foot-adress-links {
  margin-right: 70px;
}

.foot-network-list {
  display: flex;
}

.foot-network-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}

.foot-network-link:hover,
.foot-network-link:focus {
  background-color: var(--accent-color);
}

.foot-network-item:not(:last-child) {
  margin-right: 10px;
}

.foot-social-links > .text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* PORTFOLIO */

/*  BUTTON */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  padding: 4px 20px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  border-color: transparent;
  cursor: pointer;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*  WORKS */

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-list > .item {
  /* flex-basis: calc((100%-2 * 30px) / 3); */
  width: 370px;
}

/* .work-list .item:nth-last-child(n + 4) {
  margin-bottom: 30px;
}

.work-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
} */

.work-list .title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.work-item-description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.work-list-link {
  display: block;
}

.work-list-link:hover,
.work-list-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06);
}
